body{
    font: normal 16px Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    color: white;
}

.header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.header p{
    color: blue;
    width: 200px;
}

.header a{
    color: white;
    text-decoration: none;
}

.header a:hover{
    color: blue;
    background-color: white;
}

#Profile{
    display: flex;
    justify-content: space-evenly;
    background-image: url("../Images//Background/Profile_Section.png");
    background-size: 100% 100%;
}

#Profile h1{
    color: white;
    font-size: 20px;
    margin-block-start: 70px;
    margin-block-end: 0px;
}


#Profile > div > :last-child{
    font-size: 50px;
    margin-block-start: 0px;
}

.section{
    display: flex;
    justify-content: space-evenly;
    height: 350px;
}

.section *{
    transform: translateY(50px);
}

.section h2{
    color: blue;
}

.section.white{
    background-image: url("../Images/Background/Section.png");
    background-position: center;
    background-size: 100% 100%
}

.section.blue{
    background-image: url("../Images//Background/Blue_Section.png");
    background-position: center;
    background-size: 100% 100%
}

#about-me, #connect-with-me{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connect-with-me img{
    padding: 10px 10px 10px 10px;
    
}

#contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

#contact-me form{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50px);
}

#contact-me input{
    background-color: rgba(233, 233, 233, 1);
    height: 30px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
}

#contact-me input[type="submit"]{
    background-color: rgba(73, 124, 255, 1);
    color: white;
    border-radius: 100px;
}

#message{
    background-color: rgba(233, 233, 233, 1);
    border-radius: 5px;
    width: 530px; 
    height: 100px;
    border: none;
}

.footer{
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    .header ul{
        display: flex;
        flex-direction: column;
        width: 110px;
    }

    .header{
        display: flex;
        flex-direction: column; 
    }
    
    #Profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section *{
        transform: translateY(0px);
    }

    #message{
        width: 170px;
        height: 50px;
    }

    #contact-me > form > div:first-of-type{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}